<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>

      <v-flex xs10 offset-xs1>
        <div v-if="!baseRateLoaded && currenciesSelected && !error">
          <v-progress-linear v-bind:indeterminate="true"></v-progress-linear>
        </div>
        <div>
          <v-alert
            error
            :value="error"
            transition="scale-transition"
            dismissible
          >
            {{ errorMessage }}
          </v-alert>
        </div>
        <div v-if="baseRateLoaded && currenciesSelected">
          <v-layout row wrap>
            <v-flex xs4>
              <h6 class="text-xs-left">Base Exchange: {{ exchange }}</h6>
            </v-flex>
            <v-flex xs8>
              <h6 class="text-xs-right">Base Exchange Rate ({{ baseCurrency }}-{{ pairCurrency }}): {{ baseRate }}</h6>
            </v-flex>
          </v-layout>

          <v-card>
            <v-card-title primary-title>
              <v-layout row wrap v-for="item in items" :key="item.id">
                  <v-flex xs6>
                    <h6 class="text-xs-left">{{ item.id }}</h6>
                  </v-flex>
                  <v-flex xs6>
                    <h6 v-bind:class="['text-xs-right', item.exchangeDiffClass, 'darken-1']">{{ item.exchangeToDiff }}%</h6>
                  </v-flex>
              </v-layout>
            </v-card-title>
          </v-card>
        </div>
      </v-flex>
    </v-layout>

    <v-layout row wrap>
      <v-flex xs10 offset-xs1>
        <v-card>
          <v-card-title primary-title>
            <v-flex xs12>
            <Exchanges
              :exchange-selected="exchangeSelected"
              :exchanges="allExchanges"
            />
            </v-flex>
            <v-flex xs12 v-if="currenciesLoaded">
              <Currencies
                type="base"
                label="Base Currency"
                :currency-selected="baseCurrencySelected"
                :currencies="baseCurrencies"
              />
              <Currencies
                type="pair"
                label="Pair Currency"
                :currency-selected="pairCurrencySelected"
                :currencies="pairCurrencies"
              />
            </v-flex>
          </v-card-title>
        </v-card>
      </v-flex>
      
    </v-layout>
  </v-container>
</template>

<script>
import _ from 'lodash';
import Exchanges from '@/components/Exchanges';
import Currencies from '@/components/Currencies';
import exchangeApi from '../services/exchanges';

export default {
  data() {
    return {
      exchange: null,
      baseCurrency: null,
      pairCurrency: null,
      baseRate: null,
      baseCurrencies: [],
      pairCurrencies: [],
      allExchanges: [],
      error: false,
      errorMessage: '',
      items: [],
    };
  },

  async created() {
    this.allExchanges = await exchangeApi.allExchanges;
    const currencies = await exchangeApi.allCurrencies();
    this.baseCurrencies = currencies;
    this.pairCurrencies = currencies;
  },

  components: {
    Exchanges,
    Currencies,
  },

  computed: {
    baseRateLoaded() {
      return this.baseRate;
    },
    currenciesLoaded() {
      return (this.exchange);
    },
    currenciesSelected() {
      return (this.baseCurrency && this.pairCurrency);
    },
  },

  methods: {
    exchangeSelected(type) {
      this.exchange = type;
      this.getExchangeRates();
    },
    baseCurrencySelected(currency) {
      this.baseCurrency = currency;
      this.getExchangeRates();
    },
    pairCurrencySelected(currency) {
      this.pairCurrency = currency;
      this.getExchangeRates();
    },
    async getExchangeRates() {
      this.error = false;
      this.errorMessage = '';

      if (this.currenciesSelected && this.exchange) {
        this.baseRate = null;
        const exchangeRates = await exchangeApi.exchangeRates(
          this.baseCurrency,
          this.pairCurrency,
          this.exchange,
        );

        if (exchangeRates.Response === 'Error') {
          this.error = true;
          this.errorMessage = exchangeRates.Message;
        } else {
          this.baseRate = Number(exchangeRates[this.pairCurrency]);
          this.getRemainingExchangeRates();
        }
      }
      return false;
    },
    async getRemainingExchangeRates() {
      const remainingExchanges = _.filter(this.allExchanges, exchange =>
        (exchange !== this.exchange),
      );

      this.items = [];

      remainingExchanges.forEach(async (exchange) => {
        const rate = await exchangeApi.exchangeRates(
          this.baseCurrency,
          this.pairCurrency,
          exchange,
        );
        const exchangeToRate = rate[this.pairCurrency];
        let exchangeToDiff = ((exchangeToRate - this.baseRate) / this.baseRate) * 100;
        exchangeToDiff = parseFloat(exchangeToDiff).toFixed(6);

        const item = {
          id: `${this.exchange} ---> ${exchange}`,
          exchangeFrom: this.exchange,
          exchangeTo: exchange,
          exchangeToRate,
          exchangeToDiff,
          exchangeDiffClass: (exchangeToDiff < 0) ? 'red--text' : 'green--text',
        };

        this.items.push(item);
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>

//https://www.cryptocompare.com/api/#-api-web-socket-