<template>
  <v-layout row wrap>
    <v-flex xs6>
      <v-subheader>{{ label }}</v-subheader>
    </v-flex>
    <v-flex xs6>
      <v-select
        v-bind:items="currencies"
        v-model="selected"
        :label="label"
        single-line
        bottom
        v-on:change="onChange($event)"
        no-data-text="Currencies not found"
        return-object
      ></v-select>
    </v-flex>
  </v-layout>
</template>

<script>

export default {
  data: () => ({
    selected: null,
  }),

  methods: {
    onChange(e) {
      this.currencySelected(e.value);
    },
  },

  props: ['type', 'label', 'currencies', 'currencySelected'],
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
