<template>
  <v-layout row wrap>
    <v-flex xs6>
      <v-subheader>Select an Exchange</v-subheader>
    </v-flex>
    <v-flex xs6>
      <v-select
        v-bind:items="exchanges"
        v-model="selected"
        label="Exchange"
        single-line
        bottom
        v-on:change="onChange($event)"
      ></v-select>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    selected: null,
  }),

  methods: {
    onChange(e) {
      this.exchangeSelected(e);
    },
  },

  props: ['exchangeSelected', 'exchanges'],
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
