<template>
  <v-app id="app-container" toolbar footer>
    <v-toolbar fixed>
      <v-toolbar-title>Crypto Compare</v-toolbar-title>
    </v-toolbar>
    <main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </main>
    <v-footer>
      <span class="black--text">Market data by <a href="http://cryptocompare.com">cryptocompare.com</a> | <a href="http://max-arias.com">Maximiliano Arias</a> © 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'app',
};
</script>

<style>
</style>
